/.vscode
/.bsp
/.metals
/.scala-build

cpp/build/
cpp/src/generated/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.o
*.obj
*.exe
*.log


# Ignore sync proto and test files
/scala/src/main/protobuf/*.proto
/scala/src/main/test/*.txt
/scala/src/main/generated/*
/cpp/src/protobuf/*.proto
/cpp/src/test/*.txt

# Ignore analyzer files
/analyzer/*